.navbar {
  /* position: fixed;
  top: 0;
  width: 100%;
  max-width: 1400px;
  overflow: hidden; */
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  /* padding: 0 50px; */
}

.logo {
  font-size: 22px;
  padding-left: 20px;
  color: #6b63ff;
  width: 100%;
  padding-left: 50px;
}

.nav-lists {
  display: flex;
  list-style-type: none;
  padding-right: 50px;
}
.nav-lists li {
  margin: 0 20px;
}
.nav-lists li a {
  text-decoration: none;
  font-size: 18px;
  color: #6b63ff;
}
.hamburger {
  display: none;
}
